<div class="about-container">
  <h1>About Me</h1>
  <p>
    Graduated in Cross-platform Applications Development from the Leonardo Da
    Vinci Institute in Madrid, with most knowledge acquired through
    self-directed learning.<br />
    A native Vietnamese speaker, fluent in both English and Spanish. <br />
    Demonstrated ability to quickly learn and adapt, as evidenced by academic
    projects and internships.<br />
    Committed to contributing to dynamic development teams and tackling complex
    software engineering challenges.<br />
    Passionate about problem-solving and continuously enhancing skills to
    address a wide range of software development.<br />
    Starting to explore the field of cybersecurity.<br>
  </p>

  <h2>What do I know?</h2>
  <ul>
    <li>Programming Languages: C#, Java, Python</li>
    <li>Web Development: HTML, CSS, Angular</li>
    <li>Databases: MySQL, MongoDB, SQLite, SQL</li>
    <li>Frameworks & Libraries: .NET, Flask, WTForms , Pandas, Selenium</li>
    <li>
      Development Tools: Visual Studio, Visual Studio Code, Unity Game Engine,
      Eclipse, IntelliJ IDEA, PyCharm, GitHub, Azure
    </li>
  </ul>
  <h2>Certifications</h2>
  <ul>
    <li>Networking Basics - Cisco</li>
    <li>Introduction to Cybersecurity - Cisco</li>
  </ul>
  <h3>My CV</h3>
<ul>
  <li><span class="clickable-text" (click)="downloadCV('spanish')">Spanish</span></li>
  <li><span class="clickable-text" (click)="downloadCV('english')">English</span></li>
</ul>

</div>
