<div class="contact-container">
  <h1>Contact</h1>
  <div class="contact-items">
    <div class="contact-item">
        <a href="mailto:tuandod21@gmail.com" class="contact-link">
          <img src="assets/gmail.png" alt="Email" class="contact-icon" />
          <span class="contact-text">Email</span>
        </a>
      </div>
      <div class="contact-item">
        <a
          href="https://www.linkedin.com/in/tuan-anh-do-duy-18540a18b/"
          target="_blank"
          class="contact-link"
        >
          <img src="assets/linkedin.png" alt="LinkedIn" class="contact-icon" />
          <span>LinkedIn</span>
        </a>
      </div>
      <div class="contact-item">
        <a href="https://github.com/tnhdd/" target="_blank" class="contact-link">
          <img src="assets/github.png" alt="GitHub" class="contact-icon" />
          <span>GitHub</span>
        </a>
      </div>
  </div>
  
</div>
