<div class="experience-container">
  <h1>Experiences</h1>
  <h3>Kyocera Document Solutions S.A. Spain </h3>
  <h5>Oct 2023 - Jan 2024</h5>
  <ul>
    <li>
      Participated in the development of APIs using C#, .NET and Azure for a web
      based application.
    </li>
    <li>
      Developed API endpoints and ensured they adhered to best practices for
      performance.
    </li>
    <li>
      Conducted thorough investigations and troubleshooting to identify and
      resolve issues during development.
    </li>
    <li>
      Performed comprehensive testing of APIs, including unit testing and
      integration testing, to ensure functionality and reliability.
    </li>
    <li>
      Deployed and managed APIs on Microsoft Azure, utilizing Azure services.
    </li>
  </ul>
</div>
