<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/experiences" href="#experiences">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
