<div class="banner-container">
  <img src="assets/banner.jpg" alt="Banner Image" class="banner-image">
  <div class="banner-text">
    <h1>Welcome to my website</h1>
    <p>Hello, my name is Tuan Anh Do Duy. I'm a software developer.</p>
    <p>Email: tuandod21&#64;gmail.com</p>
  </div>
</div>

<div appSccrollSpy>
  <div id="about" class="section">
    <app-about />
  </div>
  <div id="experienes" class="section">
    <app-experiences />
  </div>
  <div id="projects" class="section">
    <app-projects />
  </div>

  <div id="contacts" class="section">
    <app-contacts />
  </div>
</div>
